@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.2;
   width: 100%;
   min-height: 100vh;
   height: 1500px;
   background: linear-gradient(45deg, #f5f7fa, #c3cfe2);
}

.container {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
#click {
   display: none;
}
#click:checked ~ .popup {
   display: flex;
}
.btn {
   display: inline-block;
   background-color: #017aff;
   color: white;
   padding: 15px 30px;
   border-radius: 10px;
   font-size: 24px;
   cursor: pointer;
}
.popup {
   display: none;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   justify-content: center;
   align-items: center;
}
.window {
   position: absolute;
   max-width: 600px;
   width: 100%;
   border: 1px solid #c8c8c8;
   background-color: white;
   z-index: 100;
}

.title,
.body {
   padding: 20px;
   border-bottom: 1px solid silver;
}
.title h1 {
   font-size: 22px;
}

.bottom {
   display: flex;
   justify-content: end;
   padding: 20px;
}
.close {
   padding: 10px 20px;
   background-color: #017aff;
   border-radius: 10px;
   cursor: pointer;
   color: white;
}

.blackout {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #111;
   opacity: .2;
}

.lock {
   overflow: hidden;
}